<div class="mb-4">
  <h2 class="text-success">
    Sign in
  </h2>
  <div>Don't have an account?
    <a routerLink="/signup" class="text-decoration-none fw-medium text-success d-inlin-block">Sign up</a>
  </div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <input class="form-control bg-body-secondary" placeholder="Email" formControlName="email">
    <div class="error-feedback" *ngIf="hasDisplayableError('email') && form.controls.email.hasError('required')">
      Please enter your email address.
    </div>
  </div>
  <div class="mb-3">
    <input class="form-control bg-body-secondary" placeholder="Password" formControlName="password">
    <div class="error-feedback" *ngIf="hasDisplayableError('password') && form.controls.password.hasError('required')">
      Please enter your password.
    </div>
  </div>
  <div class="mt-4">
    <button type="submit" class="btn btn-success w-100 rounded-3">
      Sign in
    </button>
  </div>
</form>